body {
    background-color: orange;
}
.navbar-brand #logo {
    height: 7vh;
    width: auto;
}
img {
    height: 23vh;
    width: auto;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.back {
    position: absolute;
}