body {
    background-color: orange;
}
#game-area img {
    height: 23vh;
    width: 8vw;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.back {
    position: absolute;
}
.clicked {
    display: none;
}